
h3{
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 0;
}
figure{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    img{
        width: 25%;
        height: auto;
        margin: 0 auto;
    }
}