.box-scroll{
    height: 90vh;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.card-pokemon{
    padding: 15px;
    cursor: pointer;
    
    .btn-detail{
        width: 100%;
        background: #ffcd00;
    }
}