<br>
<div class="row">
    <div class="col-md-12 battle box-scroll">
        <app-battle></app-battle>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 box-scroll">
        <div class="row">
            <div class="col-md-4 card-pokemon" *ngFor="let row of rows" (click)="detail(row)">
                <mat-card [ngClass]="addClassSelected(row)?'selected': ''">
                    <mat-card-header>
                        <mat-card-title>{{row.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="renderImage(row)" [alt]="row.name">
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <app-detail></app-detail>
    </div>
</div>